/* font style */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@400;500&family=Vujahday+Script&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(153, 170, 175);
    }
    /* .main-section{
        width: 80%;
    } */
    /* main{
        display:flex;
        flex-direction: column;
      justify-content: center; 
        align-items:center ;
    }  */
    /* section-1 */
    .container{
        background-color: white;
        
        /* border-radius: 10px; */
        padding:30px ;
        margin-top: 21px; 
     
    }
   
    .common-btn-style{
        background-color: #E02C6D;
        width: 196px;
height: 44px;
border: none;
    }
.common-btn-style i{
    margin-left: 8px;
}

    .main-btn{
        border-radius: 25px;
    }
    .full{
        display: flex;
    }
    .half img{
        
        width: 440px;
        height: 414px;
        cursor: pointer;
        transition: transform 0.8s;
    }

    .half img:hover{
transform: scale(1.1);
    }
    hr{
            border: 1px solid #D1D1D1;
            margin: 27px;
        }
   /* footer{
    Width:1104px;
    
     padding: 50px , 50px, 589px ,538px;
     text-align: center; 
    background-color:#0A0826 ;
    // border-radius: 10px;  
   
   }
   footer p{
       color: white;
   }
  footer .simble{
        color: white;
        padding-top: 0px;
   } */
   /* .container{
    Width: 
    1047px;
    Height :
    1662px;
    Top :
    937px;
    Left: 
    132px;
    right: 261px;
   } */
   .section-title{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center ;
   }
   .courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px ;
}
.course{
    /* position: absolute;  
      width: 329px;
     height: 476px;
     margin-top: ;
     width: 329px; */
     width: 329px;
     height: 476px;
     margin-left:5%;
     margin-right: 5%;
     margin-bottom: 5%;
     padding-left: 5px;
     border-radius: 0;
     box-shadow: 10px 10px 40px gray;
}
.courses .course-banner img{ 
    height: 256px;
    width: 300px;
    border-radius: 5px;
    padding-top:17px;
    padding-right: 15px;
    padding-bottom: 203px;
    padding-left: 14px;
    
}
.course-detail p{
font-size: 14px;
}
.course-detail{
    display:inline-block;
    position: relative;
    bottom: 220px;
    padding-left: 15px;
    
} 
.course-info{
    display: flex;
    align-items: center;
    justify-content: space;
}
.course-info i{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* icon */

.section-5{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}




.communication-icon{
    display: flex;
    /* grid-template-rows: repeat(2,1fr);
    grid-row-gap:10px ; */

    /* padding-right: 1000px; */
    
    
}
/* button added  */

.button .btn-buy{
    width: 300px;
   padding: 20px 20px;
   margin-right: 15px;
   color: white;
   background-color: orange;
   font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
   cursor: pointer;
}
.button .btn-cart{
    width: 300px;
    padding: 20px 20px;
    color: white;
    background-color: tomato;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.shop{
    margin-right: 30px;
}
.shop p{
    cursor: pointer;
}
.shop i{
    color: orange;
    font-size: 25px;

}

.chat i{
    color: orange;
    font-size: 25px;
}

.chat p{
    cursor: pointer;
}
/* section-5  style end */

/* footer style start*/

footer{
    background-color: #0A0826;
    height: 400px; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;
   text-align: center;

}
.footer-container p{
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.social-icon{
   text-align: center;
   margin-top: 20px;
   cursor: pointer;
  
 
}

.social-icon i{
    margin-left:12px;
    font-size: 20px;
    background-color: rgba(121, 120, 120, 0.425);
    padding: 15px;
    border-radius: 50%;
}


/* footer style end */


/*start responsive section-1*

/*start responsive section-1*/
/* media quary */
@media (max-width:952px){
  .main-section, .container,.full {
    width: 100%;
}
.main-section,.courses {
    grid-template-columns: repeat(1 , 1fr);
}
 .main-section, .container, .courses {
        flex-direction: column;
    }
}
/* tablet devices */
@media only screen and (min-width:688px) and(max-width:992px) {
    .main-section, .container ,.full{
        width: 100%;
    }
    .main-section,.courses ,.container {
        grid-template-columns: repeat(2 , 1fr);
    }
}
   